# Flutter specific
build/
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# IDE specific
.idea/
.vscode/
*.iml

# macOS, Linux, and Windows builds
android/.gradle/
android/app/debug.keystore
ios/Pods/
*.xcworkspace
*.xcuserdatad/
*.xcuserdata
flutter_generated.xcconfig

# Miscellaneous
*.log
*.DS_Store
*.lock